*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation
{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container
{
    width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.navbar
{
    display: flex;
    justify-content:space-evenly;

}
.logo-container
{
    display: flex;
    justify-content: baseline;
    align-items:center;
    margin-right: 12rem;
}
.logo{
    width: 100px;
    border-radius: 50%;
}
.logo-text{
    font-size: 1.5rem;
    margin-left: -1.2rem;
    margin-top: 2rem;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
.nav-items
{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0,4em;
    margin-left: 12rem;
}
.nav-items div{
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 500;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-items div a{
    color: black;
}
.nav-items div :hover{
    color:grey;
    transition: 0.3s ease-in-out;
}
a{
    text-decoration: none;
}